body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
   
}
#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 35px;
    background-color: rgb(114, 114, 114);
    color: aliceblue;
    font-weight: bolder;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 50px;

}
.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 450px;
    border: 2px gainsboro solid;
    box-shadow: 15px 5px 80px rgb(140, 139, 139);
    padding: 0 50px;
    border-radius: 15px;
}
.line{
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
    grid-gap: 30px;
    
}
.line input{
    margin-bottom: 30px;
    box-shadow: 10px 15px 20px gray;
    background-color: none;
    font-size: 20px;
}
.btn-primary{
    background-color: black;
    border: none;
}
.calculator .col-md-3{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}