body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
   
}
#display {
    text-align: right;
    height: 50px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    background-color: rgb(255, 253, 253);
    width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;

}
.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border: 2px gainsboro solid;
    padding: 0 50px;
}
.line{
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
    grid-gap: 20px;
    
}
.line input{
    margin-bottom: 15px;
}
.calculator ul li button{
    height: 70px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.calculator .col-md-3{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}